@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

.timer-near-zero {
  animation: flash 1s step-start 0s infinite;
}

@keyframes flash {
  50% {
    color: rgb(255%, 0%, 0%);
  }
}
